@model Properly.Web.ViewModels.Dashboard.DashboardViewModel
@{
    this.ViewData["Title"] = "Dashboard";
}

<div class="main-content p-0">
    <div class="main-content-inner">
        <div class="button-show-hide show-mb">
            <span class="body-1">Show Dashboard</span>
        </div>
        <div class="widget-box-2 wd-listing">
            <h6 class="title">My Listings</h6>
            <div class="wrap-table">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="align-middle">Listing</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var listing in Model.Listings)
                            {
                                <tr class="file-delete">
                                    <td>
                                        <div class="listing-box">
                                            <div class="images">
                                                <img src="@listing.Photos.FirstOrDefault()" alt="images" class="img-fluid">
                                            </div>
                                            <div class="content">
                                                <div class="title"><a asp-controller="Listing" asp-action="Id" asp-route-id="@listing.Id" class="link">@listing.FullAddress</a></div>
                                                <div class="text-1 fw-7">@listing.Price.ToString("C0")
                                                    @if(listing.ListingType == "For Rent"){<span class="text-variant-1">/mo.</span>}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <span>@listing.ListingStatus</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="btn-group-vertical">
                                            <button type="button" class="btn btn-sm btn-primary mb-1" id="editBtn"><i class="icon icon-edit"></i> Edit</button>
                                            <button type="button" class="btn btn-sm btn-success mb-1" id="soldBtn"><i class="icon icon-sold"></i> Sold</button>
                                            <button type="button" class="btn btn-sm btn-danger mb-1" id="deleteBtn"><i class="icon icon-trash"></i> Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> 
    <form method="post" class="hidden"></form>
</div>

@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/theme/scss/_dashboard.css" />
}

@section Scripts
{
    <script type="module" src="~/js/listingActionsHandler.js" asp-append-version="true"></script>
    <script>
        // Remove preload
        document.addEventListener('DOMContentLoaded', function () {
            window.addEventListener('load', function () {
                document.querySelector('.preload').classList.add('d-none');
                document.getElementById('wrapper').classList.remove('d-none');
            });
        });
    </script>
}
