@model Properly.Web.ViewModels.Messages.MessagesViewModel
@{
    this.ViewData["Title"] = "Messages";
}

<div class="widget-box-2 wd-listing">
    <h6 class="title">Messages</h6>
    <div class="wrap-table">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th style="width: auto;">Listing</th>
                        <th>Information</th>
                        <th>Message Content</th>
                        <th>Received Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var message in Model.ActiveMessages)
                {
                    <tr>
                        <input type="hidden" value="@message.Id" name="messageId"/>
                        <td class="listing">
                            <div class="listing-container">
                                <img src="@message.ListingPhoto" alt="Listing"/>
                                <span>@message.ListingAddress</span>
                            </div>
                        </td>
                        <td class="information">
                            <span>@message.SenderFullName</span>
                            <span>@message.SenderPhoneNumber</span>
                            <span>@message.SenderEmail</span>
                        </td>
                        <td class="message-content">
                            <span>@message.MessageContent</span>
                        </td>
                            <td><span>@message.CreatedOn.ToString("dd/MM/yyyy HH:mm")</span></td>
                        <td style="padding-left: 20px;" class="box-action-print">
                            <a href="#" class="tf-btn small btn-archive">Archive</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="widget-box-2 wd-listing">
    <h6 class="title">Archived Messages</h6>
    <div class="wrap-table">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th style="width: auto;">Listing</th>
                        <th>Information</th>
                        <th>Message Content</th>
                        <th>Received Date</th>
                    </tr>
                </thead>
                <tbody>                
                
                    @foreach (var archivedMessage in Model.ArchivedMessages)
                    {
                        <tr>
                            <input type="hidden" value="@archivedMessage.Id" name="archivedMessageId" />
                            <td class="listing">
                                <div class="listing-container">
                                    <img src="@archivedMessage.ListingPhoto" alt="Listing"/>
                                    <span>@archivedMessage.ListingAddress</span>
                                </div>
                            </td>
                            <td class="information">
                                <span>@archivedMessage.SenderFullName</span>
                                <span>@archivedMessage.SenderPhoneNumber</span>
                                <span>@archivedMessage.SenderEmail</span>
                            </td>
                            <td class="message-content">
                                <span>@archivedMessage.MessageContent</span>
                            </td>
                            <td><span>@archivedMessage.CreatedOn.ToString("dd/MM/yyyy HH:mm")</span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Styles
{
    <style>
        .listing-container {
            display: flex;
            align-items: center;
        }

        .listing-container img {
            max-width: 180px; 
            margin-right: 10px;
        }

        .listing-container span {
            vertical-align: middle;
            word-break: break-word;
        }

        td.information span {
            display: block;
            margin-bottom: 5px;
        }

        td.message-content {
            min-width: 300px;
            white-space: normal;
            word-wrap: break-word;
            word-break: break-all;
            vertical-align: top;
            padding: 10px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/theme/scss/_dashboard.css" />
}