@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row min-vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <section>
            <div class="container mx-auto my-auto">
                <div class="flat-account bg-surface">
                    <h3 class="title text-center">Register</h3>
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <fieldset class="box-fieldset">
                            <label asp-for="Input.FirstName">First Name<span>*</span>:</label>
                            <input asp-for="Input.FirstName" autocomplete="username" aria-required="true" placeholder="First Name" type="text" class="form-contact style-1">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </fieldset>
                       <fieldset class="box-fieldset">
                            <label asp-for="Input.LastName">Last Name<span>*</span>:</label>
                            <input asp-for="Input.LastName" autocomplete="username" aria-required="true" placeholder="Last Name" type="text" class="form-contact style-1">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label asp-for="Input.Email">Email Address<span>*</span>:</label>
                            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" type="text" class="form-contact style-1">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label asp-for="Input.PhoneNumber">PhoneNumber<span>*</span>:</label>
                            <input asp-for="Input.PhoneNumber" autocomplete="phonenumber" aria-required="true" placeholder="Phone Number" type="text" class="form-contact style-1">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label asp-for="Input.Password">Password<span>*</span>:</label>
                            <div class="box-password">
                                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="Password" class="form-contact style-1 password-field">
                                <span class="show-pass">
                                    <i class="icon-pass icon-eye"></i>
                                    <i class="icon-pass icon-eye-off"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </fieldset>
                        <fieldset class="box-fieldset">
                            <label asp-for="Input.ConfirmPassword">Confirm Password<span>*</span>:</label>
                            <div class="box-password">
                                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Password" class="form-contact style-1 password-field2">
                                <span class="show-pass2">
                                    <i class="icon-pass icon-eye"></i>
                                    <i class="icon-pass icon-eye-off"></i>
                                </span>
                            </div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </fieldset>
                        <button id="registerSubmit" type="submit" class="tf-btn primary w-100">Register</button>
                        <div class="mt-12 text-variant-1 text-center noti">Already have an account?<a asp-page="./Login" class="text-black fw-5">Login Here</a></div>
                    </form>
                </div>
            </div>
        </section>
    </div>
    @* Default External Register *@
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
