@model Properly.Web.ViewModels.Buy.BuyViewModel

@{
    this.ViewData["Title"] = "Buy a property"; 
}

@section Styles {
    <link rel="stylesheet" href="~/css/Property/buy.css"/>
}

<section class="listings-section">
    <div class="container">
        @foreach (var listing in Model.Listings)
        {
            <div class="listing">
                <div class="listing-image">
                    <img src="@listing.PhotoUrl" alt="">
                </div>
                <div class="listing-body">
                    <div class="body-main">
                        <h1 class="price-heading">@listing.Price.ToString("C0")</h1>
                        <p hidden id="listing-id">@listing.Id</p>
                        <i class="fa-solid fa-bookmark"></i>
                    </div>

                    <div class="listing-info">
                        <p class="prop-details">@listing.Details</p>
                        <p class="address">@listing.FullAddress</p>
                    </div>

                    <p class="description">@((listing.Description.Length > 200) ? @listing.Description.Substring(0, 200).TrimEnd() + "..." : listing.Description.TrimEnd())</p>
                </div>
            </div>
        }
    </div>
</section>
<form method="post" id="antiForgeryForm"></form>

<partial name="_PagingPartial" model="@Model"/>

@section Scripts
{
    <script type="module" src="~/js/listingsFavoriter.js"></script>
}
