@model Properly.Web.ViewModels.Buy.BuyViewModel

@{
    this.ViewData["Title"] = "Properties For Sale";
    var viewData = new ViewDataDictionary(ViewData) { { "Action", "Buy" } };
}

<section class="flat-section-v6 flat-recommended flat-sidebar">
    <div class="container">
        <div class="box-title-listing">
            <h3>@this.ViewData["Title"]</h3>
            <div class="box-filter-tab">
                <select asp-for="@Model.ItemsPerPage" id="itemsPerPageSelect" class="nice-select list-page" tabindex="0">
                    <ul class="list">
                    <option value="6">6 Per Page</option>
                    <option value="8">8 Per Page</option>
                    <option value="10">10 Per Page</option>
                    </ul>
                </select>
                <select asp-for="@Model.ListingSorting" id="sortingSelect" class="nice-select list-sort" tabindex="0">
                    <ul class="list">
                    <option value="0">Newest</option>
                    <option value="1">Oldest</option>
                    <option value="2">Ascending Price</option>
                    <option value="3">Descending Price</option>
                    </ul>
                </select>
            </div>
        </div>
        <div class="row">
            @* Use the new partial view *@
            <partial name="_SideSearchPartial" model="Model" view-data="viewData" />


            <div class="col-xl-8 col-lg-7">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="listLayout" role="tabpanel">
                        <div class="row">
                            @foreach (var listing in Model.Listings)
                            {
                                <div class="col-md-12">
                                    <div class="homeya-box list-style-1 list-style-2">
                                        <a asp-controller="Listing" asp-action="Id" asp-route-id="@listing.Id" class="images-group">
                                                <div class="images-style">
                                                    <img src="@listing.Photos.FirstOrDefault()" alt="img" width="330px">
                                                </div>
                                            <div class="top">
                                                <ul class="d-flex gap-4 flex-wrap">
                                                    <li class="flag-tag style-1">For Sale</li>
                                                </ul>
                                                <ul class="d-flex gap-4">
                                                    <li class="box-icon w-32">
                                                        <span class="fa-regular fa-heart favorite-icon" data-listing-id="@listing.Id" style="color: #fd1c32;"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="bottom">
                                                <span class="flag-tag style-2">@listing.PropertyTypeName</span>
                                            </div>
                                        </a>
                                        <div class="content">
                                            <div class="archive-top">
                                                <div class="h7 text-capitalize fw-7"><a asp-controller="Listing" asp-action="Id" asp-route-id="@listing.Id" class="link">@listing.FullAddress</a></div>
                                                <div class="desc"><i class="icon icon-mapPin"></i>
                                                    <p>@listing.FullAddress</p> </div>
                                                <ul class="meta-list">
                                                    <li class="item">
                                                        <i class="icon icon-bed"></i>
                                                        <span>@listing.Bedrooms</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-bathtub"></i>
                                                        <span>@listing.Bathrooms</span>
                                                    </li>
                                                    <li class="item">
                                                        <i class="icon icon-ruler"></i>
                                                        <span>@listing.Size SqFT</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="d-flex justify-content-center align-items-center archive-bottom">
                                                <div class="d-flex align-items-center">
                                                    <div class="h4 fw-7">@listing.Price.ToString("C0")</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_PagingPartial" />
        </div>
    </div>
</section>

@section Scripts {
    <script type="module" src="~/js/listingSortingHandler.js" asp-append-version="true"></script>
    <script type="module" src="~/js/listingFavouriteHandelr.js" asp-append-version="true"></script>
}
