@model Properly.Web.ViewModels.Listing.FavoritesViewModel

@{
    this.ViewData["Title"] = "Favourite Listings";
}

<h1>@this.ViewData["Title"]</h1>

<div>
    @foreach (var favListing in Model.FavoriteListings)
    {
        <div>
            <img src="@favListing.PhotoUrl" alt="Property image"/>
            @if (@favListing.ListingType == "Rent")
            {
                <h1>@favListing.Price.ToString("C0") /mo</h1>
            }
            else
            {
                <h1>@favListing.Price.ToString("C0")</h1>
            }
            <p>@favListing.Address</p>
        </div>
    }
</div>